#nav{
  color: white;
}
.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 78vh;
}
.body h1{
  font-weight: bolder;
  font-size: 7rem;
  letter-spacing: 2px;
}
.body h2{
  font-size: 4rem;
  
}
/* footer */
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: rgb(136, 180, 180);
  height: 10vh;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
}